
{% extends "../layouts/base.twig" %} 

{# {% block main_content%}
<p>This content is coming from templates/layouts/home.twig</p>
{% endblock %} #}

{# You can add scripts #}
{# {% block scripts %}
<p>Script Test</p>
<script>
alert('Hello World')
</script>

{% endblock %} #}