<header>
    <nav>
        <a href="/products">Products</a>
        <a href="/variants">Variants</a>
        <a href="/images">Images</a>
        <a href="/store/products">Store</a>
    </nav>
</header>