{% extends "layouts/base.html.twig" %} 

{% block main_content %}
{% if id == false %}
<h2>New Product:</h2>
{% include 'partials/_product_form.html.twig' %}
{% else %}
<h2>Update {{product.title}}</h2>
{% include 'partials/_product_form.html.twig' with {id: id, product: product} %}



{% endif %}

{% endblock %}