{% extends "layouts/base.html.twig" %} 


{% block main_content %}
    <h2>All Image</h2>
    <ul>
        {% for image in images %}
            <li>
                {{product.title}} - 
                <a href="/images/{{ product.id }}"> Edit</a>
              
            </li>
            
        {% endfor %}
    </ul>
    <a href="/images/new">Create New Image</a>
{% endblock %}
image