{% extends "layouts/base.html.twig" %} 

{% block main_content %}

            {# errors list #}
    {% if errors is defined and errors|length > 0 %}
        <ul>
            {% for error in errors %}
            <li>
                {{error}}
            </li>
             {% endfor %}
        </ul>
    {% endif %}


{% if id == false %}
<h2>New Product:</h2>
{% include 'partials/_product_form.html.twig' %}
{% else %}
<h2>Update {{product.title}}</h2>
{% include 'partials/_product_form.html.twig' with {id: id, product: product} %}

{% endif %}

{% endblock %}